/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin: 20px 0;
}

.sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section {
  width: 32%;
  background-color: lightgray;
  border: 1px solid black;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.title {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #c1c1c1;
  color: white;
  padding: 5px;
  border: 1px solid black;
  font-weight: bold;
}

.chicken .title {
  background-color: #d78181;
}

.beef .title {
  background-color: #b83939;
}

.sushi .title {
  background-color: #e3c87c;
}

p {
  margin-top: 50px;
  text-align: left;
}

/* Responsive Design */

/* Tablet View */
@media (max-width: 991px) {
  .section {
    width: 49%;
  }

  .section.sushi {
    width: 100%;
  }
}

/* Mobile View */
@media (max-width: 767px) {
  .section {
    width: 100%;
  }
}
